*{
    margin: 0;
    padding: 0;
    list-style:none;
    box-sizing:border-box;
    font-family: "Noto Sans TC", "Noto Sans", sans-serif;
  }
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
  
  main{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-top:120px;
    margin-bottom:72px;
    
  }
  .work{
    width: 636px;
    margin-left:24px;
    margin-bottom: 80px;
  }
  .work img{
    border-radius: 8px;
    border:1px solid #F1F1F1;
  }
  .work-text {
    padding: 16px 16px 0 16px;
    
  }
  .work-text h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color:#3B3B3B;
    padding-bottom: 8px;
  }
  .work-text p{
    line-height: 24px;
    color:#919191;
    padding-bottom: 24px;
  }
  .work .tags{
    width: 100%;
    display: flex;
  }
  .work .tags li{
    padding: 4px 12px 4px 12px;
    background-color: #F1F1F1;
    border-radius:16px;
    line-height: 24px;
    color:#3B3B3B;
    margin-right:16px;
  }
  
  